<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>

    <link rel="stylesheet" href="stylesheets/bootstrap.min.css" />
  </head>
  <body>

    <nav class="nav navbar-light navbar-expand lg">
      <a class="navbar-brand" href="/">COMP2106 Jesse Cannon Lab2</a>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/jesse">Jesse</a></li>
        <li class="nav-item"><a class="nav-link" href="/amy">Amy</a></li>
        <li class="nav-item"><a class="nav-link" href="/dawn">Dawn</a></li>
        <li class="nav-item"><a class="nav-link" href="/steve">Steve</a></li>
      </ul>
    </nav>
    